{% extends "users/base.html" %}
{% load static %}
{% block title %}Profile Page{% endblock title %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    
</head>

<body>
   
    <!-- navbar ended -->
    {% if user_form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            {% for key, value in user_form.errors.items %}
                <strong>{{ value }}</strong>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
    <div class="container">
        <div class="profile-main">
            <div class="profile-container">
                <img src="{% static 'PHOTO-2024-02-29-10-18-12.jpg' %}" 
                    width="100%" class="cover-img">
                <div class="profile-container-inner">
                   <img src="{% static 'PHOTO-2024-02-29-10-18-15.jpg' %}" 
                        class="profile-pic">
                        <h1>Arun Kumar</h1>
                        <b>Professional Esports Player | Valorant | PUBG Mobile</b>
                        <p>Mumbai, Maharashtra, India &middot; <a href="">Contact Info</a></p>
                        <div class="mutual-connection">
                            <img
                                src="{% static 'home.png' %}">
                            <img
                                src="{% static 'home.png' %}">
                            <span><span class="mutual-friend">Vikram Singh 🌟 Esports Manager</span>
                        </div>
                        <div class="profile-btn">
                            <a href="" class="primary-btn"><img src="{% static 'connect.png' %}" alt="">Follow</a>
                            <a href=""><img src="{% static 'message.png' %}" alt="">Chat</a>
                        </div>
                        
                        </div>
                        </div>
                        <div class="profile-description">
                        <h2>About</h2>
                        <p>I am a passionate esports player focusing on Valorant and PUBG Mobile. My skills include strategic gameplay, team coordination, and in-depth knowledge of esports tactics. Currently honing my abilities at Esports Academy India and aspiring to represent the nation on the global esports stage.</p>
                        <a class="see-more-link" onclick="show()">See <span id="more">More...</span></a>
                        </div>
                        
                        <div class="profile-description">
                        <h2>Experience</h2>
                        <div class="profile-desc-row">
                            <img src="{% static 'PHOTO-2024-02-29-10-17-42.jpg' %}">
                            <div>
                                <h3>Valorant Pro Player</h3>
                                <b>AFK Gaming Esports &middot; Full-Time</b>
                                <b>Feb 2021 - Present &middot; 1.5 Years</b>
                                <p>Competing in national and international Valorant tournaments, achieving top rankings and contributing to the team's success.</p>
                                <hr>
                            </div>
                        </div>
                        <div class="profile-desc-row">
                            <img src="{% static 'PHOTO-2024-02-29-10-17-42.jpg' %}">
                            <div>
                                <h3>PUBG Mobile Squad Leader</h3>
                                <b>Indian Tigers Esports &middot; Full-Time</b>
                                <b>June 2018 - Jan 2021 &middot; 2.6 Years</b>
                                <p>Led the squad to multiple championship victories, demonstrating strong leadership and exceptional gameplay skills in PUBG Mobile.</p>
                                <hr>
                            </div>
                        </div>
                        <div class="profile-desc-row">
                            <img src="{% static 'PHOTO-2024-02-29-10-17-42.jpg' %}">
                            <div>
                                <h3>Strategic Analyst</h3>
                                <b>Orange Rock Esports &middot; Full-Time</b>
                                <b>Sept 2015 - May 2018 &middot; 2.8 Years</b>
                                <p>Provided strategic analysis and insights to the team, contributing to their success in various esports tournaments.</p>
                            </div>
                        </div>
                        <hr>
                        <a href="" class="experience-link">Show all 7 Experiences <img src="img/right-arrow.png" alt=""></a>
                        </div>
                        <div class="profile-description">
                            <h2>Esports Journey</h2>
                            <div class="profile-desc-row">
                                <img src="{% static 'PHOTO-2024-02-29-10-17-42.jpg' %}" alt="">
                                <div>
                                    <h3>Founding Member</h3>
                                    <b>Indian Esports League</b>
                                    <b>2022 - Present</b>
                                    <p>Embarked on the esports journey by co-founding the Indian Esports League, contributing to the growth and development of the Indian esports community.</p>
                                    <hr>
                                </div>
                            </div>
                            <div class="profile-desc-row">
                                <img src="{% static 'PHOTO-2024-02-29-10-17-42.jpg' %}" alt="">
                                <div>
                                    <h3>Esports Enthusiast</h3>
                                    <b>Indian School of Gaming</b>
                                    <b>2012 - Present</b>
                                    <p>Passionate about gaming from an early age, laid the foundation for my esports interest through active participation and engagement in the gaming community.</p>
                                    <hr>
                                </div>
                            </div>
                            <div class="profile-desc-row">
                                <img src="{% static 'PHOTO-2024-02-29-10-17-42.jpg' %}" alt="">
                                <div>
                                    <h3>Degree in Esports Management</h3>
                                    <b>Gaming University</b>
                                    <b>2005 - 2015</b>
                                    <p>Graduated with a specialization in Esports Management, equipped with the skills and knowledge to navigate the dynamic world of esports.</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="profile-description">
                        <h2>Skills</h2>
                        <a href="#" class="skill-btn">Tactical Gameplay</a>
                        <a href="#" class="skill-btn">Team Coordination</a>
                        <a href="#" class="skill-btn">Strategic Analysis</a>
                        <a href="#" class="skill-btn">Esports Management</a>
                        <a href="#" class="skill-btn">PUBG Mobile</a>
                        <a href="#" class="skill-btn">Valorant</a>
                        <a href="#" class="skill-btn">Championship Mentality</a>
                        <a href="#" class="skill-btn">Leadership in Esports</a>
                        <a href="#" class="skill-btn">In-Game Decision Making</a>
                        <a href="#" class="skill-btn">Adaptability</a>
                        </div>
                        <div class="profile-description">
                        <h2>Languages</h2>
                        <a href="#" class="lang-btn">English</a>
                        <a href="#" class="lang-btn">Hindi</a>
                        <a href="#" class="lang-btn">Marathi</a>
                        <a href="#" class="lang-btn">Gaming Lingo</a>
                        </div>
                        </div>
                        <div class="profile-sidebar">
                        <div class="sidebar-ad">
                            <small>AD &middot; &middot; &middot;</small>
                            <p>Master the 5 principles of esports strategy</p>
                            <div>
                                <img src="{% static 'PHOTO-2024-02-29-22-33-58 2.jpg' %}"
                                    alt="">
                                <img src="{% static 'PHOTO-2024-02-29-22-33-54.jpg' %}" alt="">
                            </div>
                            <b>Build your career in esports strategy</b>
                            <a href="" class="ad-link">Learn More</a>
                        </div>
                        <div class="sidebar-people">
                            <h3>Players You May Know</h3>
                            <div class="sidebar-people-row">
                                <img src="{% static 'PHOTO-2024-02-29-22-33-54.jpg' %}">
                                <div>
                                    <h2>Vikram Singh</h2>
                                    <p>Esports Manager | PUBG Mobile</p>
                                    <a href="https://www.linkedin.com/in/vikram-singh-esports/" target="_blank">Connect</a>
                                </div>
                            </div>
                            <div class="sidebar-people-row">
                                <img src="{% static 'PHOTO-2024-02-29-22-33-58 2.jpg' %}">
                                <div>
                                    <h2>Alok Sharma</h2>
                                    <p>Professional Gamer | Valorant</p>
                                    <a href="https://www.linkedin.com/in/alok-sharma-gamer/" target="_blank">Connect</a>
                                </div>
                            </div>
                           
                           
                        </div>
                        <div class="sidebar-people">
                            <div class="sidebar-people-row">             
    <div class="profile-footer">
        <div class="sidebar-useful-links">
            <a href="">About</a>
            <a href="">Accesibility</a>
            <a href="">Help Center</a>
            <a href="">Privacy Policy</a>
            <a href="">Advertising</a>
            <a href="">Get the App</a>
            <a href="">More</a>
            <div class="copyright-msg">
                <img src="{% static 'PHOTO-2024-02-28-19-56-07.jpg' %}">
                <p>OSMIUM &copy; All Rights Reserved</p>
            </div>
        </div>
    </div>
                        </div>
                        </div>
    <script>
        var profileMenu = document.getElementById('profileMenu')
        var seeMore = document.getElementById('hidden')
        function toggleMenu() {
            profileMenu.classList.toggle("open-menu");
        }
        function show() {
            if (seeMore.style.display == "none") {
                seeMore.style.display = "inline-block"
                document.getElementById('more').innerHTML = "Less..."
            }
            else {
                seeMore.style.display = "none";
                document.getElementById('more').innerHTML = "More..."
            }
        }
    </script>
</body>

</html>
{% endblock content %}