<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Creator</title>
    <link rel="stylesheet" href="style-create.css">
</head>
<body >
    <div class="maincontainer">
        <div class="container"> 
            

            <h2>Join Member to Team</h2>
            <div id="joinForm">
                <input type="text" id="joinMemberName" placeholder="Enter Member Name" required>
              
                <!-- <input type="text" id="teamToJoin" placeholder="Enter Team Name" required>
                <br>
                <button id="joinTeamBtn">Join Team</button> -->

                <div id="joinByCodeForm">
                    <input type="text" id="teamCode" placeholder="Enter Team Code" required>
                    <br>
                    <button id="joinByCodeBtn">Join Team by Code</button>
                </div>
    
                <a href="teams.html"><button>Create Team</button></a>
    
            </div>
<!-- 
            <h2>Join Team by Code</h2> -->
            
            <h2>Team Members</h2>
            <ul id="teamsList"></ul>
        </div>
    </div>

    <script src="createteam.js"></script>
</body>
</html>